In [4]:


#loops 
#for loops 
#while loop
#nested loop : loop inside another loop 
#exampl

for i in range(1,11):
    for j in range (1,11):
        print(f'{i},{j}')

1,1
1,2
1,3
1,4
1,5
1,6
1,7
1,8
1,9
1,10
2,1
2,2
2,3
2,4
2,5
2,6
2,7
2,8
2,9
2,10
3,1
3,2
3,3
3,4
3,5
3,6
3,7
3,8
3,9
3,10
4,1
4,2
4,3
4,4
4,5
4,6
4,7
4,8
4,9
4,10
5,1
5,2
5,3
5,4
5,5
5,6
5,7
5,8
5,9
5,10
6,1
6,2
6,3
6,4
6,5
6,6
6,7
6,8
6,9
6,10
7,1
7,2
7,3
7,4
7,5
7,6
7,7
7,8
7,9
7,10
8,1
8,2
8,3
8,4
8,5
8,6
8,7
8,8
8,9
8,10
9,1
9,2
9,3
9,4
9,5
9,6
9,7
9,8
9,9
9,10
10,1
10,2
10,3
10,4
10,5
10,6
10,7
10,8
10,9
10,10

In [5]:
#use of nested loop

#to work with multi dimensional loop 
#to find out possible combonation

In [9]:
l1=[1,2,3,4,5]
l2=[1,2,3,4,5]
for element1 in l1:
    for element2 in l2:
        print(f'L1-------{element1},L2---------{element2}')

L1-------1,L2---------1
L1-------1,L2---------2
L1-------1,L2---------3
L1-------1,L2---------4
L1-------1,L2---------5
L1-------2,L2---------1
L1-------2,L2---------2
L1-------2,L2---------3
L1-------2,L2---------4
L1-------2,L2---------5
L1-------3,L2---------1
L1-------3,L2---------2
L1-------3,L2---------3
L1-------3,L2---------4
L1-------3,L2---------5
L1-------4,L2---------1
L1-------4,L2---------2
L1-------4,L2---------3
L1-------4,L2---------4
L1-------4,L2---------5
L1-------5,L2---------1
L1-------5,L2---------2
L1-------5,L2---------3
L1-------5,L2---------4
L1-------5,L2---------5

In [10]:
str1='Jaipur'
str2='Delhi'
for i in str1:
    for j in str2:
        print(f'str1 alphabet {i}, str2 alphabet{j}')

str1 alphabet J, str2 alphabetD
str1 alphabet J, str2 alphabete
str1 alphabet J, str2 alphabetl
str1 alphabet J, str2 alphabeth
str1 alphabet J, str2 alphabeti
str1 alphabet a, str2 alphabetD
str1 alphabet a, str2 alphabete
str1 alphabet a, str2 alphabetl
str1 alphabet a, str2 alphabeth
str1 alphabet a, str2 alphabeti
str1 alphabet i, str2 alphabetD
str1 alphabet i, str2 alphabete
str1 alphabet i, str2 alphabetl
str1 alphabet i, str2 alphabeth
str1 alphabet i, str2 alphabeti
str1 alphabet p, str2 alphabetD
str1 alphabet p, str2 alphabete
str1 alphabet p, str2 alphabetl
str1 alphabet p, str2 alphabeth
str1 alphabet p, str2 alphabeti
str1 alphabet u, str2 alphabetD
str1 alphabet u, str2 alphabete
str1 alphabet u, str2 alphabetl
str1 alphabet u, str2 alphabeth
str1 alphabet u, str2 alphabeti
str1 alphabet r, str2 alphabetD
str1 alphabet r, str2 alphabete
str1 alphabet r, str2 alphabetl
str1 alphabet r, str2 alphabeth
str1 alphabet r, str2 alphabeti

In [14]:
t1=(1,2,3,4,5)
t2=(1,2,3,4,5,6,7,8,9,10)
for i in t1:
    for j in t2:
        print(f'{j},{i}')

1,1
2,1
3,1
4,1
5,1
6,1
7,1
8,1
9,1
10,1
1,2
2,2
3,2
4,2
5,2
6,2
7,2
8,2
9,2
10,2
1,3
2,3
3,3
4,3
5,3
6,3
7,3
8,3
9,3
10,3
1,4
2,4
3,4
4,4
5,4
6,4
7,4
8,4
9,4
10,4
1,5
2,5
3,5
4,5
5,5
6,5
7,5
8,5
9,5
10,5

In [16]:
#control statement
#break
# it helps to break the loop permaturely(time se phele)
for i in range(1,6):
    if i ==3:
        break
    print(i)

1
2

In [18]:
#continue
#skips that practicular value and continues with other values
for i in range(1,6):
    if i ==3:
        continue
    print(i)

1
2
4
5

In [19]:
#else 
#excutes after the loop is finished 

for i in range(1,4):
    print(i)
else:
    print("loop finised")

1
2
3
loop finised

In [20]:
#pass
#as it as 
for i in range(1,6):
    if i == 3:
        pass
    print(i)

1
2
3
4
5

In [21]:
#infinite loop 
#while True
    #print("infinite loop")

In [22]:
#enumerate function 
#when the values are required along with their corresponding index places

fruits=['apple','banana','cherry']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [25]:
#accessing key and values 
d1={'name':'suraj','class':12, 'rollnumber':32}
for key, value in d1.items():
    print(key,value)

name suraj
class 12
rollnumber 32

In [27]:
#create list, dictionary and set using loops 
#list comprehension 
#dictionary compewhension 


#list comp
l1_square=[x**2 for x in range(1,11)]
print(l1_square)

l1_normal=[x for x in range(1,11)]
print(l1_normal)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
#dict comp
l1_square={x**2 for x in range(1,11)}
print(l1_square)

d1_6={x: x*6 for x in range(1,11)}
print(d1_6)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
{1: 6, 2: 12, 3: 18, 4: 24, 5: 30, 6: 36, 7: 42, 8: 48, 9: 54, 10: 60}

In [31]:
#set comp
set_square={x**2 for x in range(1,11)}
print(set_square)

set_10={x*10 for x in range(1,11)}
print(set_10)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}